<h1> All of the cats you have in {{catinformation.color}} fur</h2>

<ul>
   {{#each catinformation.cat}}
     <li style="font-size:20px">Cat Age:{{this.age}} ; Cat Name: {{this.name}} ; Color: {{this.color}}</li>
   {{/each}}
</ul>