
<head> 
	<link rel="stylesheet" href="stylesheets/styles.css">
	<h1 class = "logInHeader" align = 'center'> LogIn with Facebook to use Twotter! </h1>
</head>
<body class = 'logInBody'>
	<a href="/auth/facebook">Click here to log in with facebook!</a>
	<img src="../public/images/cat2.jpg">
</body>